

.chrono {
	position: relative;
	left: 50%;
	width: 10px;
	height: 40px;
	display: flex;
}


.needle {
	position: absolute;
	top: 80px;
	left: calc(50% - 5px);
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	z-index: 10;
	transform-origin: bottom center;
	transition: transform 0.3s ease;
}

.needle::before {
	content: "";
	position: absolute;
	height: 60px;
	width: 2px;
	background-color: #000;
	left: 4px;
	bottom: 0px;
}

.startBtn {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}
