.chrono {
	position: absolute;
	right: 70px;
	top: 10px;
	width: 140px;
	height: 144px;
	display: flex;
	background-image: url(../img/game/chrono.png);
	background-size: cover;
}

.needle {
	position: absolute;
	top: 62px;
	left: calc(50% - 5px);
	width: 10px;
	height: 10px;
	background-color: #000;
	border-radius: 50%;
	z-index: 10;
	transform-origin: bottom center;
	transition: transform 0.3s ease;
}

.needle::before {
	content: "";
	position: absolute;
	height: 60px;
	width: 7px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url(../img/game/chrono-needle.png);
	left: 4px;
	bottom: 6px;
}

.startBtn {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}