#Player2Game,
#Player1Game {
    width: 100vw;
    height: 100vh;
}

.ingredient-zone {
    position: relative;
    width: 100%;
    height: 10vh;
    margin-top: 20px;
    background-image: url(../img/game/tapis1.png);
    animation: alternateBackground 1s infinite;
    background-size: auto 100%;
}

@keyframes alternateBackground {

    0%,
    24% {
        background-image: url(../img/game/tapis1.png);
    }

    25%,
    49% {
        background-image: url(../img/game/tapis2.png);
    }

    50%,
    74% {
        background-image: url(../img/game/tapis1.png);
    }

    75%,
    100% {
        background-image: url(../img/game/tapis2.png);
    }
}

.ingredient-img {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    right: 100%;
    width: auto;
    height: 60px;
    cursor: grab;
    transition: transform 0.3s ease-in-out;
    animation: moveright 10s linear;
    z-index: 2;
}

.ingredient-img.dragging {
    opacity: 1;
}

@keyframes moveright {
    0% {
        right: 100%;
    }

    100% {
        right: -80px;
    }
}

.drop-zone {
    width: 270px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.drop-zone img,
.drop-zone div {
    position: static;
    margin-top: -30px;
    animation: none;
    right: 0;
    top: 0;
    transform: translateY(0%);
}

.ingredient-img {
    width: auto;
    height: 60px;
    cursor: pointer;
}

.cut-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

.image-part {
    width: 30px;
    height: 60px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
}

.image-part.left {
    margin-top: 10px;
    background-position: left center;
}

.image-part.right {
    margin-bottom: 10px;
    background-position: right center;
}

.success-message {
    background-color: #c8f7c5;
    color: green;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.error-message {
    background-color: #f8d7da;
    color: red;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.validate-btn {
    margin-top: 15px;
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.Contenerassiet {
    z-index: 10000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.assiet {
    background-image: url(../img/game/asiette.png);
    width: 400px;
    height: 160px;
    position: relative;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    justify-content: center;
    align-items: center;
}

.plat {
    width: 100%;
    height: 100%;
    margin-bottom: 20%;
}

.plat img {
    width: auto;
    height: 100%;
}

.casseroleContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.casserole {
    width: 400px;
    height: 160px;
    position: relative;
    background-image: url(../img/game/casserole.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fondCasserol {
    position: absolute;
    width: 268px;
    z-index: -1;
    top: -22px;
}

.verification-zone {
    width: 58%;
    height: 100%;
    margin-top: -60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.verification-zone>* {
    flex: 0 0 calc(33.33% - 10px);
    box-sizing: border-box;
}

.verification-zone img {
    position: static;
    animation: none;
    z-index: -1;
    margin-top: -20px;
    top: 0%;
    width: auto;
    height: 60px;
    right: 0;
    transform: translateY(0%);
}

.verification-zone div {
    top: 0%;
    z-index: -1;
    margin-top: -10px;
    margin-left: -10px;
    right: 0;
    transform: translateY(0%);
}

button.active-btn {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.contenerAction {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 44vh;
    margin-bottom: 6vh;
}

#Player1DropZone {
    background-image: url(../img/game/planche.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#Player2DropZone {
    width: 240px;
    height: 200px;
    background-image: url(../img/game/evier.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.contenerGiveTake {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.give,
.take {
    width: 240px;
    height: 100px;
    background-image: url(../img/game/Give.png);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
}

.take {
    background-image: url(../img/game/Take.png);
}

.give img,
.take img,
.give div,
.take div {
    margin-top: -30px;
    position: static;
    top: 0%;
    transform: translateY(0%);
    right: 0;
}

.tableau {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    height: 100%;
}

.tableau img {
    width: auto;
    height: 100%;
    z-index: -1;
}

.tableauContainer {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contentTableau {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#Player2Recipe,
#Player1Recipe {
    width: fit-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.postIt {
    width: auto;
    height: 100%;
    z-index: -1;
}

.pin {
    position: absolute;
    top: -0px;
    left: 50%;
    transform: translateY(-50%);
}

.ingredientRecipeZone {
    width: 80%;
    height: 80%;
    margin-right: 20px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    gap: 10px;
    columns: 3;
}

.game-body {
    background-image: url(../img/game/background.jpg);
    background-size: auto 100%;
    background-repeat: repeat-x;
}

.plaqueCuisson {
    width: 100%;
    height: 100%;
    margin-top: 9%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

#validateButtonP1,
#validateButtonP2 {
    scale: 0.8;
}