body {
    text-align: center;
}

.top-page {
    display: flex;
    justify-content: end;
}

#room-list {
    list-style: none;
    height: 54vh;
    padding-left: 100px;
    padding-right: 100px;
    overflow: hidden;
    overflow-y: auto;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.equipe-list {
    display: flex;
    justify-content: center;
    scale: 0.8;
}

.room-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #ccc; */
    margin: 5px auto;
    width: 100%;
    gap: 25px;
}

.beautruc {
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    justify-content: space-around;
}

::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 10px;
    margin-left: 10px;
}


/* C'est le button qui bouge */

::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
}


/* C'est la barre du fond */

::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
}