/* Div du bouton création de chambre */

.create-room {
    display: flex;
    justify-content: center;
    margin: 15px;
}


/* Btn Créer une room */

.btncreatroom {
    background: #FFFFFF;
    box-shadow: 0px 6px 0px 0px #5C0A96;
    color: #5C0A96;
    text-shadow: none;
    text-align: center;
    font-family: Chewy;
    -webkit-text-stroke-width: 0px;
}

.name-prompt {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #F1E1E1;
    display: flex;
    align-items: start;
    justify-content: center;
}

.name-prompt .name-box {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 48px;
}

#roomNameDisplay {
    width: 100%;
    height: 80px;
    display: flex;
    text-align: center;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.player-name-contener {
    align-items: flex-start;
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}