body {
    background-color: #F1E1E1;
}

h1 {
    color: #5C0A96;
    font-family: Chewy;
    font-size: 92.759px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 120.586px */
    scale: 0.9;
}

h3,
.h3 {
    font-size: 50px;
    color: var(--Violet-2, #2A0343);
    font-family: Itim;
}

.h4 {
    font-size: 35px;
    color: var(--Violet-2, #2A0343);
    font-family: Itim;
}

p {
    color: var(--Violet-2, #2A0343);
    font-family: Itim;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 57.2px */
}

.body-lobby {
    background: url(../img/lobby.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game-container {
    margin-top: 20px;
}

.inputGomme {
    display: flex;
    flex-direction: row-reverse;
    height: fit-content;
    width: 100%;
}

.inputGomme img {
    height: 80px;
    padding-right: 1.5px;
    border-left: none;
    margin-left: -2px;
    background-color: #fff;
}

.inputGomme:focus-within img {
    padding: 0px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

button {
    cursor: pointer;
}

#ingredient-list {
    list-style-type: none;
    padding: 0;
}

.btnBoncy {
    display: flex;
    width: fit-content;
    height: 80px;
    padding: 28px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 70px;
    border: 3px solid #2A0343;
    background: #5C0A96;
    box-shadow: 0px 8px 0px 0px #2A0343;
    color: #FFF;
    text-align: center;
    /* -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #B06BCE; */
    font-family: Chewy;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

@keyframes bounceClick {
    0% {
        transform: scaleX(1) scaleY(1);
    }

    30% {
        transform: scaleX(1.2) scaleY(0.9);
    }

    50% {
        transform: scaleX(0.9) scaleY(1.1);
    }

    70% {
        transform: scaleX(1.05) scaleY(0.95);
    }

    100% {
        transform: scaleX(1) scaleY(1);
    }
}

.bouncing {
    animation: bounceClick 0.4s ease;
}

.btnBoncy:hover {
    animation: bounceClick 0.4s ease;
}

.logoHomeMenu {
    height: auto;
    max-width: 60%;
}

@media screen and (max-width: 1100px) and (min-width: 500px) {
    .btnBoncy {
        height: 60px;
        padding: 20px 10px;
        background: #5C0A96;
        box-shadow: 0px 4px 0px 0px #2A0343;
        -webkit-text-stroke-width: 2px;
        font-size: 34px;
    }
}

@media screen and (max-width: 500px) {
    .btnBoncy {
        height: 40px;
        padding: 14px 20px;
        background: #5C0A96;
        -webkit-text-stroke-width: 1px;
        box-shadow: 0px 2px 0px 0px #2A0343;
        font-size: 24px;
    }
}


/* Le bouton quitter */

.btnquitter {
    border: 3px solid #62411D;
    background: #DB995B;
    box-shadow: 0px 8px 0px 0px #62411D;
    -webkit-text-stroke-width: 0px;
    margin: 10px 10px;
    scale: 0.8;
    filter: blur(0);
}

.btn-direction{
    -webkit-text-stroke-width: 0px;
    padding-bottom: 18px;
}

.btn-tuto-join-game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    font-size: 22px;
    padding: 10px;
    height: fit-content;
}
