.mur{
    background: var(--Violet-clair-2, #E6D1EF);
    width: 100%;
    height: 120%;
    display: flex;
    justify-content: space-between;
}

.tapisroulant{
    background-color: #fff;
    width: 100%;
    height: 400px;
    position: relative;
}

.tapis{
    position: absolute;
    height: 100px;
    width: 100%;
    top: -1vw;
    left: 0;
}

/* C'est la boîte qui fait les couleurs du fond */
.objet-table{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: end;
    position: relative;
}

/* Ce qui permet de rendre flou un objet */
.flou{
    filter: blur(3px);
}

.sombre{
    filter: brightness(50%);
}

.tableclair{
    background-color: #FFCFA7;
    width: 100%;
    height: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tablemarron{
    background-color: #DB995B;
    width: 100%;
    height: 100px;
    
}

/* C'est le bouton rejoindre une partie */
.plan-1{
    display: flex;
    justify-content: end;
    scale: 0.8;
}

/* C'est le cuisinier */
.plan-2{
    position: absolute;
    left: 0;
    max-width: auto;
    height: 40vw;
}

/* C'est la bull de discussion */
.plan-3{ 
    position: absolute;
    left: 29%;
    bottom: 30%;
    max-width: 40vw;
}

.moitie{
    scale: 0.5;
}

.planche{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    width: 30vh;
    height: auto;
}

.cuire{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    width: 100vh;
    height: auto;
}

.perso1{
    scale: 0.5;
}


.tuto{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.card{
    width: 150px;
    display: flex;
    justify-content: center;
}

.clean{
    width: 0;
    height: 0;
    opacity: 0%;
}

.btn-tuto{
    position: absolute;
    left: 44%;
    bottom: 15%;
    max-width: 40vw;
}